<!DOCTYPE html>
<html lang='en'>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset='utf-8' />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" async></script>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Merriweather|Roboto" rel="stylesheet">

    <!--Load static files from django-->
    {% load static %}

    <!--Custom Website Style-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/main.js' %}" async></script>

    <!--Favicon-->
    <link rel="icon" href="{% static 'main/images/fav.ico' %}">

    <!--Jinja Header Injection-->
    {% block head %}
    {% endblock %}
</head>


<body style='background-color: #F6F6F6' onresize="headerResize()">

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <!--logo and header--> 
    <a class="navbar-brand" href="{% url 'index' %}"><table><tbody><tr>
        <td><img id="logo" src="{% static 'main/images/logo-small.png' %}" alt="logo"></td>
        <td><h1 id="heading">7034 | To Be Determined</h1></td>
    </tr></tbody></table></a>

    <!--nav menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if nbar == 'index' %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown {% if nbar == 'about' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navDD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <div class="dropdown-menu" aria-labelledby="navDD">
                    <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
                    <a class="dropdown-item" href="{% url 'aboutfirst' %}">About FIRST</a>
                    <a class="dropdown-item" href="{% url 'aboutrobot' %}">About Our Robots</a>
                    <a class="dropdown-item" href="{% url 'outreach' %}">Outreach</a>
                    <a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Log In</a>
            </li>
        </ul>
    </div>
</nav>

<!--Jinja Body Injection-->
<div>
    {% block body %}
    {% endblock %}
</div>

</body>

</html>
