#logo {
    max-width: 50px;
    max-height: 50px;
}

h1 {
    color: black;
    font-family: "Gothic A1", serif;
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #154F2C;
}

td {
    padding: 0 10px 0 10px;
}

ul li a {
    font-family: "Roboto", sans-serif;
}

/* mobile */
@media only screen and (max-width: 350px){
    #logo {
    max-width: 33px;
    max-height: 33px;
    }

    h1 {
    font-size: 1.5rem;
    }
}

